
{% extends 'base.html' %}

{% block title %}
    Anasayfa - {{ block.super }}
{% endblock %}

{% block body %}
<div class="header" style="height: 300px">

         <div class="col-md-12" style="background-color: #ffaeb5; height: 300px; margin-top: -49px;  ">

                 <h1 style="text-align: center; font-family: 'Comic Sans MS'">KİŞİSEL WEB SİTEME HOŞ GELDİNİZ</h1>

            <p style="text-align: center; font-family: 'Comic Sans MS'; font-size: large">Lorem Ipsum, dizgi ve baskı
                           endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                       bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini
                       alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır
                       . Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik
                       dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının
                       yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü
                       yayıncılık yazılımları ile popüler olmuştur.

            </div>
</div>

<div class="content" style="height: 1000px; width: 1500px">



                   <div class="col-md-4" style="background-color: #aab0b1; height: 500px; width: 300px; margin-top:10px; margin-left: 117px;">


                   </div>
                   <div class="col-md-4" style="background-color: #aab0b1; height: 500px; width: 300px; margin-top:10px; margin-left:105px;">
                   </div>
                   <div class="col-md-4" style="background-color: #aab0b1; height: 500px; width: 300px; margin-top:10px; margin-left: 100px;">
                   </div>





         <div class="panel-footer"  >

           <div class="col-md-10" style="background-color:#262626; margin-top: 50px; height: 120px; margin-left:20px "></div>

      </div>
</div>

{% endblock %}
